/* font-family: 'Wallpoet', cursive;
font-family: 'Homenaje', sans-serif;
font-family: 'Quantico', sans-serif;
font-family: 'Aldrich', sans-serif; */

body {
    margin: 0;
    padding: 0;
    font-family: 'Quantico', sans-serif;
}

.nav-bar {
    background-image: url("../img/background2.jpg");
    background-size: cover;
    width: auto;
    min-height: 900px;
    padding: 0;
    margin: 0;
    opacity: 90%;
} 

.wrap-head {
    position: relative;
    height: nav-bar;
    width: auto;
}

.name{
    margin: 0;
    padding: 0;
    position: absolute;
}

h1.name-h1 {
    top: 10rem;
    left: 12rem;
    font-family: 'Aldrich', sans-serif;
    font-size: 6em;
    font-weight: bold;
    color: white;
    letter-spacing: 16px;
}

h3.exper {
    top: 15rem;
    left: 12rem;
    font-family: 'Aldrich', sans-serif;
    color: white;
    letter-spacing: 4px;
    font-size: 2em;
    line-height: 30px;
}

p.paragrap {
    right: 3rem;
    top: 43rem;
    font-family: 'Quantico', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
}

email {
    color: blue;
}

nav.all-nav {
    border: #eaeaea 1px solid;
    border-top: none;
    width: auto;
    height: 6rem;
}

ul.ul-nav {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    position: relative;
    top: 2.5rem;
}

a.a-nav {
    list-style: none;
    text-decoration: none;
}

li.li-nav {
    display: flex;
    justify-content: center;
}


#me {
    border-radius: 100%;
    border-bottom: 15px solid white;
    border-top: 15px solid white;
    border-right: 15px solid white;
    border-left: 15px solid white;
    width: 30vh;
    height: 30vh;
    position: relative;
    bottom: 10rem;
}

img.nav-img {
    width: 2vh;
    padding-left: 1em;
}

.nav-img1 {
    width: 2vh;
}

section.describe {
    display: flex;
    width: auto;
    height: 35em;
    background-color: #f5f5f5;
    padding: 5em;
 
}

article.iam {
    flex: 1;
    text-align: justify;
    padding: 2em 7em 2em 2em;
    
}

article.personal {
    flex: 1;
    text-align: justify;
    padding: 2em 7em 2em 2em;
    
}
 
article.expertise {
    flex: 1;
    padding: 2em 2em 2em 2em;
    
    /* position: relative;
    left: 10em; */
}

h4.h4-section {
    padding-bottom: 2em;
    padding-top: 2em;
    font-family: 'Righteous', cursive;
    font-size: 27px;
    margin: 0;
}

p.p-iam {
    text-align: center;
}

ul.ul-personal {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 2em;
    letter-spacing: 1px;
}

.figure {
    margin: 0;
}

img.desktop {
    width: 4em;
    height: 4em;
}

img.dev {
    width: 4em;
    height: 4em;
}

.contain-web {
    font-size: 1.5em;
}

.contain-webdev {
    font-size: 1.5em;
}
.web {
    padding-bottom: 3em;
}

span {
    font-weight: bold;
}